*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;
height:100vh;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(135deg,#ffd6e8,#ffe8f1,#fff4f8);

}

.background{

position:fixed;
inset:0;

background:
radial-gradient(circle at top,#ffffff60,transparent 60%);

}

.login-card{

position:relative;

z-index:5;

width:360px;

padding:50px;

border-radius:30px;

background:rgba(255,255,255,.45);

backdrop-filter:blur(18px);

box-shadow:

0 15px 45px rgba(0,0,0,.12);

text-align:center;

animation:fadeUp 1s ease;

}

.login-card h1{

font-family:"Dancing Script";

font-size:48px;

color:#ff4f87;

margin:10px 0;

}

.login-card p{

color:#666;

margin-bottom:20px;

}

input{

opacity:0;
position:absolute;

}

.dots{

display:flex;

justify-content:center;

gap:12px;

margin:30px 0;

}

.dots div{

width:16px;
height:16px;

border-radius:50%;

background:#ffd1df;

transition:.25s;

}

button{

border:none;

padding:14px 40px;

border-radius:999px;

background:#ff4f87;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:0 12px 25px rgba(255,79,135,.35);

}

#error{

height:25px;

color:#ff4f87;

margin-top:20px;

}

.shake{

animation:shake .5s;

}

#transition{

position:fixed;
inset:0;

display:flex;
justify-content:center;
align-items:center;

background:white;

opacity:0;

pointer-events:none;

font-family:"Dancing Script";

font-size:52px;

color:#ff4f87;

transition:1.2s;

z-index:50;

}

#transition.show{

opacity:1;

}

.hearts span{

position:absolute;

bottom:-50px;

font-size:22px;

animation:float linear infinite;

opacity:.35;

}

@keyframes float{

from{

transform:translateY(0);

}

to{

transform:translateY(-120vh);

}

}

@keyframes fadeUp{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:none;

}

}

@keyframes shake{

20%{transform:translateX(-8px);}
40%{transform:translateX(8px);}
60%{transform:translateX(-8px);}
80%{transform:translateX(8px);}

}